# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
out/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Database files
*.mdf
*.ldf

# Rider IDE
.idea/

# Others
*.db-shm
*.db-wal
*.vsidx
