.container {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border: 1px solid #e5e5e5;
}
 
.container {
  width: 920px;
}
.agent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
.full-width-table {
  width: 100%;
}
 
.mat-paginator {
  margin-top: 10px;
}
 
/* Custom styles for agent status */
.status-active {
  color: #4caf50; /* Green */
  font-weight: 500;
}
 
.status-inactive {
  color: #f44336; /* Red */
  font-weight: 500;
}
 
/* Adjust card content padding to match Bootstrap's p-3 if necessary */
mat-card-content.p-3 {
  padding: 16px !important; /* Angular Material's default padding is 16px. Adjust if your 'p-3' was different. */
}
 
.mat-badge {
  margin-right: 10px;
}
 
.totals {
  margin-top: 15px;
}
 
/* Search field styles */
.search-field {
  width: 300px;
}
 
.search-field ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
 
.search-field ::ng-deep .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}
 
.search-field ::ng-deep .mat-mdc-text-field-wrapper {
  height: 50px !important;
}
 
.search-field ::ng-deep .mat-mdc-form-field-infix {
  min-height: 20px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
 
.search-field ::ng-deep .mat-mdc-form-field-hint-wrapper,
.search-field ::ng-deep .mat-mdc-form-field-error-wrapper {
  display: none !important;
}
 
.search-field ::ng-deep .mdc-notched-outline__leading,
.search-field ::ng-deep .mdc-notched-outline__notch,
.search-field ::ng-deep .mdc-notched-outline__trailing {
  height: 50px !important;
}