<div class="submit-claim-wrapper content-card">
    <div class="header-section">
      <h2 class="card-title">Submit New Claim</h2>
      <p class="subtitle">Please fill out the form below with details of your claim.</p>
    </div>
   
    <form [formGroup]="claimForm" (ngSubmit)="onSubmit()" class="claim-form">
   
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field-item">
          <mat-label>Policy Name</mat-label>
          <input matInput formControlName="policyName" placeholder="e.g., POL12345" required readonly>
          <mat-icon matSuffix>assignment</mat-icon>
          <mat-error *ngIf="claimForm.get('policyName')?.hasError('required') && claimForm.get('policyName')?.touched">
            Policy Name is required.
          </mat-error>
        </mat-form-field>
   

        <mat-form-field appearance="outline" class="form-field-item">
            <mat-label>Customer ID</mat-label>
            <input matInput formControlName="customerId" placeholder="e.g., CUS12345" required>
            <mat-icon matSuffix>assignment</mat-icon>
            <mat-error *ngIf="claimForm.get('customerId')?.hasError('required') && claimForm.get('customerId')?.touched">
              Customer ID is required.
            </mat-error>
          </mat-form-field>

        
      </div>
   
      <div class="form-row">

        

        <mat-form-field appearance="outline" class="form-field-item">
          <mat-label>Claim Amount (₹)</mat-label>
          <input matInput type="number" formControlName="claimAmount" placeholder="e.g., 50000" required min="0.01">
          <mat-icon matSuffix>currency_rupee</mat-icon>
          <mat-error *ngIf="claimForm.get('claimAmount')?.hasError('required') && claimForm.get('claimAmount')?.touched">
            Claim amount is required.
          </mat-error>
          <mat-error *ngIf="claimForm.get('claimAmount')?.hasError('min') && claimForm.get('claimAmount')?.touched">
            Amount must be greater than zero.
          </mat-error>
          <mat-error *ngIf="claimForm.get('claimAmount')?.hasError('max') && claimForm.get('claimAmount')?.touched">
            Amount must be less than 1 crore.
          </mat-error>
        </mat-form-field>
   
      </div>
   
 
   

   
      <div class="form-actions">
        <button mat-stroked-button color="warn" (click)="onCancel()" type="button">
          <mat-icon>arrow_back</mat-icon> Back to My Policies
        </button>
        <button mat-flat-button color="primary" type="submit" [disabled]="claimForm.invalid">
          <mat-icon>send</mat-icon> Submit Claim
        </button>
      </div>
    </form>
</div>
   
 
   