<div class="container">
    <mat-card class="profile-card">
      <div class="profile-header">
        <mat-icon class="profile-icon">person</mat-icon>
        <h2>Admin Profile</h2>
        <p class="text-muted">Manage your profile settings and account information.</p>
      </div>
   
      <mat-divider></mat-divider>
   
      <div class="profile-details">
        <div class="profile-row">
          <label class="fw-bold">Name:</label>
          <p>Krishna</p>
        </div>
   
        <div class="profile-row">
          <label class="fw-bold">Email:</label>
          <p>{{ adminEmail }}</p>
        </div>
      </div>
   
      <mat-divider></mat-divider>
   
      <div class="profile-details">
        <div class="profile-row">
          <label class="fw-bold">Role:</label>
          <p>Administrator</p>
        </div>
   
        <div class="profile-row">
          <label class="fw-bold">Last Login:</label>
          <p>June 3, 2025</p>
        </div>
      </div>
    </mat-card>
  </div>